.panel {
  display: flex;
  flex-direction: column;
  gap: 24px;

  padding: 16px 24px 24px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 16px;
}

.locationGroup {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.locationGroup::before {
  content: "";

  position: absolute;
  z-index: 0;

  top: 26px;
  bottom: 26px;
  left: 13px;

  width: 2px;

  background: #a2a6ad;
}

.directionArrow {
  position: relative;
  z-index: 2;

  width: 28px;
  height: 26px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--color-surface);
  color: var(--color-text-muted);

  font-size: 24px;
  line-height: 1;
}